$color-black: #2b2f33;
$color-light-purlpe: #7d6af7;
$color-hard-purple: #725ef3;
$color-light-violet: #f5f3ff;
body {
    font-family: "Jost", sans-serif;
    background: #f5f5f5;
    color: $color-black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
}

@mixin btn($color, $bg) {
    color: $color;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    border-radius: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
.scroll-lock {
    overflow: hidden;
}
.btn-main {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    background: $color-hard-purple;
    padding: 18px 67px;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
        background: #5d4ad8;
    }
}
.purple-span {
    color: $color-hard-purple;
}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    margin-bottom: 60px;
}
section {
    padding-bottom: 110px;
}
header {
    nav {
        padding: 25px 0px;
    }
    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .nav__logo {
        flex: 1 0 auto;
    }
    .burger-btn {
        position: relative;
        width: 30px;
        height: 18px;
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        display: none;
        span,
        &::before,
        &::after {
            width: 100%;
            height: 3px;
            background: #000;
            transition: 0.6s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            transform: scale(1);
        }
    }
    .nav__menu {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        list-style: none;
    }
    .nav__link {
        transform: 0.4s;
        &:hover {
            color: $color-hard-purple;
        }
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 17px;
    }
    .nav-list__item {
        list-style: none;
    }
    .nav-list__link--signup {
        display: flex;
        align-items: center;
        gap: 17px;
        color: $color-hard-purple;
        background: $color-light-violet;
        padding: 10px 30px;
        border-radius: 6px;
    }
    .nav-list__link--login {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        background: $color-hard-purple;
        padding: 10px 35px;
        border-radius: 6px;
    }
    .header__main {
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    }
    .header__title {
        flex: 1 1 50%;
        text-align: center;
        h1 {
            display: inline-block;
            font-weight: 800;
            font-size: 48px;
            line-height: 120%;
            position: relative;
            padding: 16px 34px;
            border: 2px solid $color-hard-purple;
            border-radius: 34px;
            margin-bottom: 40px;
            position: relative;
            span {
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
                color: $color-light-purlpe;
                position: absolute;
                background: #fff;
                bottom: 0;
                left: 50%;
                padding: 10px;
                text-transform: unset;
                transform: translate(-50%, 50%);
            }
        }
        p {
            line-height: 140%;
            color: rgba(43, 47, 51, 0.6);
            margin: 0 auto 43px;
            font-size: 14px;
        }
    }
    .header__video {
        max-width: 630px;
        height: 310px;

        img {
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    .header__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 0;
        background: rgba(140, 154, 187, 0.09);
        border-radius: 12px;
        max-width: 310px;
        margin: 26px 0 0 auto;
        color: $color-light-purlpe;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        img {
            position: absolute;
            right: 0;
        }
    }
    .burger-btn {
        position: relative;
        width: 30px;
        height: 18px;
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        display: none;
        span,
        &::before,
        &::after {
            width: 100%;
            height: 3px;
            background: #000;
            transition: 0.6s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            transform: scale(1);
        }
    }
}
.form-main__wrapper {
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    background-image: url(img/form-bg.png);
    background-size: 120% 120%;
    background-position: center;
    position: relative;
    &::before {
        position: absolute;
        top: 0%;
        left: 70px;
        transform: translateY(-40%);
    }
    .form-main__content {
        color: #fff;
        flex: 1 1 60%;
    }
    .form-main__form {
        background: #fff;
        padding: 72px 70px 50px 47px;
        flex: 1 1 auto;
        form {
            display: flex;
            flex-direction: column;
            position: relative;
            row-gap: 16px;
            width: 100%;
            input {
                padding: 13px 47px;
                box-sizing: border-box;
                width: 100%;
                background: rgba(219, 213, 237, 0.12);
                border: 1px solid rgba(219, 213, 237, 0.5);
                border-radius: 6px;
                &::placeholder {
                    font-size: 16px;
                    line-height: 134.69%;
                    color: #72698c;
                }
            }
            label {
                width: 100%;
                position: relative;
                &::after {
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            label[for="name"] {
                &::after {
                    position: absolute;
                    content: url(img/icons/user-input.svg);
                }
            }
            label[for="mail"] {
                &::after {
                    position: absolute;
                    content: url(img/icons/mail-input.svg);
                }
            }
            .btn-main {
                margin-top: 17px;
                border: none;
            }
        }
    }
}

.benefits {
    padding-top: 74px;
    .benefits__wrapper {
        &::before {
            content: url(img/gamepad.png);
            position: absolute;
        }
    }
    .benefits__content {
        padding: 86px 94px;
    }
    .benefits__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
        text-align: start;
        span {
            font-size: 48px;
            margin-top: 10px;
            display: inline-block;
        }
    }
    .benefits__list {
        margin-top: 32px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .benefits__item {
        list-style: none;
        display: flex;
        gap: 16px;
        font-size: 18px;
        line-height: 26px;
        &::before {
            content: url(img/icons/u_check-circle.svg);
        }
    }
    .benefits__form {
        background: #fff;
        padding: 72px 70px 50px 47px;
        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
            text-align: center;
            margin-bottom: 57px;
        }
        form {
            display: flex;
            flex-direction: column;
            position: relative;
            row-gap: 16px;

            input {
                padding: 13px 47px;
                box-sizing: border-box;
                width: 100%;
                background: rgba(219, 213, 237, 0.12);
                border: 1px solid rgba(219, 213, 237, 0.5);
                border-radius: 6px;
                &::placeholder {
                    font-size: 16px;
                    line-height: 134.69%;
                    color: #72698c;
                }
            }
            label {
                width: 100%;
                position: relative;
                &::after {
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            label[for="name"] {
                &::after {
                    position: absolute;
                    content: url(img/icons/user-input.svg);
                }
            }
            label[for="mail"] {
                &::after {
                    position: absolute;
                    content: url(img/icons/mail-input.svg);
                }
            }
            .btn-main {
                margin-top: 17px;
                border: none;
            }
        }
    }
}
.get {
    .get__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .get__item {
        flex: 1 1 33.33%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-height: 310px;
        padding: 22px 70px 45px;
        row-gap: 10px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }

    .get-item__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
    }
    .get-item__text {
        font-size: 14px;
        line-height: 140%;
        color: rgba(43, 47, 51, 0.6);
    }
}
.learn {
    .learn__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: 15px;
        .learn__item {
            flex: 1 1 30%;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            list-style: none;
            display: flex;
            gap: 26px;
            background: #ffffff;
            border: 1px solid #f5f5f5;
            box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.14);
            border-radius: 15px;
            padding: 20px 40px;
            &::before {
                content: url(img/icons/circle_purple.svg);
            }
        }
    }
}
.create {
    .create__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .create-item__hover-text {
        visibility: hidden;
        opacity: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        transition: 0.4s ease-out;
    }
    .create__item {
        border-radius: 16px;
        gap: 15px;
        color: #fff;
        position: relative;
        max-height: 390px;
        flex: 0 1 auto;
        height: auto;
        max-width: 33.33%;
        padding: 30px 20px 0;
        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &::after {
            content: "";
            background: rgba(114, 94, 243, 0.9);
            border-radius: 16px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            transition: 0.4s all;
            z-index: -1;
        }
        &:hover {
            &::after {
                height: 100%;
            }
            .create__title {
                img {
                    transform: rotate(180deg);
                }
            }
            .create-item__hover-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .create__title {
        position: relative;
        bottom: 10px;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: center;
        margin-top: 15px;
        img {
            width: 36px;
            transition: 0.4s;
        }
    }
}
.teacher {
    .teacher__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 64px;
    }
    .teacher__teacher {
        display: flex;
        gap: 35px;
        flex-direction: column;
        align-items: center;
        min-width: 200px;
        img {
            width: 167px;
        }
        p {
            font-weight: 700;
            font-size: 28px;
            line-height: 123.4%;
        }
    }
    .teacher__content {
        flex: 1 1 auto;
        background: #ffffff;
        border: 1px solid #f5f5f5;
        box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.14);
        border-radius: 10px;
        padding: 60px 72px 100px;
        position: relative;
        &::before {
            content: url(img/icons/quote.svg);
            position: absolute;
            width: 76px;
            height: 76px;
            top: 0;
            left: 0;
            transform: translate(-50%, 50%);
        }
        h5 {
            font-weight: 700;
            font-size: 22px;
            line-height: 160%;
            margin-bottom: 1em;
        }
        p {
            font-size: 18px;
            line-height: 160%;
            margin-bottom: 1em;
        }
    }
}
.reviews {
    .reviews__wrapper {
        background: $color-hard-purple;
        border-radius: 16px;
        padding: 35px 75px;
    }
    .reviews__link--main {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-decoration-line: underline;
        color: #ffffff;
        display: flex;
        justify-content: center;
        margin-top: 26px;
    }
    .slide__wrapper {
        .slide__item {
            padding: 33px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            background-image: url(img/icons/review-quote.png);
            background-repeat: no-repeat;
            background-position: center 60%;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
            border-radius: 10px;
            row-gap: 15px;
            text-align: center;
        }
        .review__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
        }
        .review__text {
            font-size: 14px;
            line-height: 150%;
            color: #939393;
        }
        .review__link {
            font-size: 14px;
            line-height: 150%;
            text-decoration: underline;
        }
    }

    .swiper-button-prev {
        left: 20px;
        &::after {
            content: url(img/icons/btn-slider.png);
            transform: rotate(180deg);
        }
    }
    .swiper-button-next {
        right: 20px;
        &::after {
            content: url(img/icons/btn-slider.png);
        }
    }
}
.target-audience {
    .target-audience__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-top: 176px;
        .target-audience__item {
            flex: 1 1 33.33%;
            background: #ffffff;
            border: 1px solid #f5f5f5;
            box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.09);
            border-radius: 12px;
            padding: 0px 43px 37px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                position: relative;
                margin-top: -40%;
                width: 220px;
                height: 220px;
                margin-bottom: 34px;
            }
        }
        .target-audience__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 134.69%;
            margin-bottom: 27px;
            align-self: flex-start;
        }
        .target-audience__text {
            font-size: 14px;
            line-height: 140%;
            color: rgba(43, 47, 51, 0.6);
        }
    }
}
.course-content {
    overflow: hidden;
    .course-content__wrapper {
        background-color: rgba(140, 154, 187, 0.09);
        border-radius: 12px;
        background-image: url(img/course-img.png);
        background-repeat: no-repeat;
        background-position: 10% 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        &::after {
            position: absolute;
            content: url(img/course-hand.png);
            top: 50%;
            right: 0;
            transform: translate(35%, -50%);
        }
    }
    .course-content__dropdown {
        max-width: 754px;
        max-height: 387px;
        padding-right: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        counter-reset: lesson;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 3px; /* width of the entire scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: #e3e3e3; /* color of the tracking area */
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-hard-purple;
        }
    }

    .course-dropdown__item {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        list-style-type: none;
        padding: 10px 16px;
        cursor: pointer;
        &.active {
            background: $color-hard-purple;
            color: #fff;
            .course-dropdown__title {
                &::before {
                    color: #fff;
                }
            }
            .course-dropdown__content {
                margin-top: 22px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 0 60px 25px;
                list-style: none;
            }
        }
    }
    .course-dropdown__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 134.69%;
        display: flex;
        gap: 17px;
        align-items: center;
        pointer-events: none;

        &::before {
            counter-increment: lesson;
            content: "Урок " counter(lesson);
            font-weight: 500;
            font-size: 14px;
            line-height: 134.69%;
            color: #b1b1b1;
        }
    }
    .course-dropdown__content {
        display: none;
    }
    .course-dropdown__list {
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        gap: 13px;
        &::before {
            content: "";
            display: block;
            background: #fff;
            width: 4px;
            height: 4px;
            transform: rotate(45deg);
        }
    }
}
.faq {
    .faq__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 74px;
        h2 {
            margin-bottom: unset;
        }
    }
    .faq__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        display: flex;
        gap: 43px;
        align-items: center;
    }
    .faq__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .faq-item__text {
        position: relative;
        padding: 34px 28px;
        display: none;
    }
    .faq__item {
        background: #ffffff;
        border: 1px solid #f5f5f5;
        box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.09);
        border-radius: 10px;
        overflow: hidden;
        &.active {
            .faq-item__text {
                display: block;
            }
        }
    }
    .faq-item__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 134.69%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        border: 1px solid #f5f5f5;
        box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.09);
        border-radius: 10px;
        padding: 20px 28px;
    }
}
.form-callback {
    padding-top: 126px;

    .form-callback__wrapper {
        &::before {
            content: url(img/icons/giftbox.png);
            transform: translate(0, -75%);
        }
    }
    .form-callback__content {
        flex: 1 1 60%;

        padding: 0 100px 20px 83px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 36px;
        h2 {
            margin-bottom: 0;
            font-size: 46px;
            text-align: start;
            span {
                color: #b4a8ff;
            }
        }
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 132.4%;
            color: #ffffff;
            opacity: 0.8;
        }
    }

    .form-callback__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 40%;
        padding: 30px 75px 60px;
        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 52px;
            margin-bottom: 0;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #959799;
            margin-bottom: 29px;
        }
    }
}
footer {
    padding-bottom: 111px;
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .footer__elements--left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        img {
            width: 123px;
            margin-bottom: 34px;
        }
        .footer__nav {
            display: flex;
            gap: 30px;
            align-items: center;
            margin-bottom: 17px;
        }

        .footer__list {
            list-style: none;
        }
        .footer__links {
            color: $color-light-purlpe;
            font-size: 14px;
            line-height: 150%;
        }
        .license {
            font-size: 12px;
            line-height: 150%;
            color: #595959;
            opacity: 0.55;
        }
    }
    .footer__elements--right {
        flex: 1 1 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .footer-categories {
            display: flex;
            flex-direction: column;
            gap: 12px;
            min-width: 210px;
        }
        .footer-categories__item {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(219, 213, 237, 0.12);
            border: 1px solid $color-light-purlpe;
            border-radius: 6px;
            font-weight: 600;
            font-size: 14px;
            line-height: 134.69%;
            color: $color-light-purlpe;
        }
        .footer__btns {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-end;
            gap: 40px;
        }
        .footer__social-wrapper {
            display: flex;
            gap: 10px;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1260px;
    }
}
@media (max-width: 1300px) {
    .container {
        max-width: 1120px;
    }
    header {
        .header__title {
            h1 {
                font-size: 36px;
                span {
                    transform: translate(-50%, 70%);
                }
            }
        }
    }
    .target-audience {
        .target-audience__wrapper {
            .target-audience__item {
                padding: 0 15px 20px;
            }
        }
    }
}
@media (max-width: 1140px) {
    .container {
        max-width: 960px;
    }
    .create {
        .create__title {
            font-size: 24px;
        }
        .create-item__hover-text {
            font-size: 16px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    section {
        padding-bottom: 50px;
    }
    h2 {
        font-size: 32px;
    }
    header {
        .nav__menu {
            position: absolute;
            background: rgba(0, 0, 0, 0.9);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            left: 0;
            top: 0;
            width: 0;
            transition: 0.4s;
            height: 100%;
            z-index: 900;
            .nav__link{
                color: #fff;
            }
            .nav-list {
                flex-direction: column-reverse;
                
            }
            &.active {
                opacity: 1;
                width: 100%;
            }
        }
        .burger-btn {
            display: flex;
            z-index: 999;
            &.active {
                span {
                    transform: scale(0);
                    background: #fff;
                }
                &::before {
                    top: 45%;
                    transform: rotate(45deg);
                    background: #fff;
                }
                &::after {
                    bottom: 40%;
                    transform: rotate(-45deg);
                    background: #fff;
                }
            }
        }
        .header__main {
            flex-direction: column;
            padding-top: 0;
        }
        .header__video {
            order: -1;
            width: fit-content;
            height: fit-content;
            img {
                object-fit: contain;
            }
        }
        .btn-main {
            box-sizing: border-box;
            width: 50%;
        }
        .header__btn {
            margin: 20px auto;
        }
    }
    
    .form-main__wrapper {
        flex-direction: column;
    }
    .get {
        .get__wrapper {
            flex-direction: column;
        }
    }
    .create {
        .create__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        .create__item {
            max-width: 40%;
        }
    }
    .teacher {
        .teacher__wrapper {
            flex-direction: column;
        }
        .teacher__content{
            &::before{
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .target-audience {
        .target-audience__wrapper {
            flex-direction: column;
            row-gap: 150px;
            .target-audience__title {
                align-self: center;
            }
            .target-audience__item {
                min-height: 220px;
                img {
                    margin-top: -15%;
                }
            }
            .target-audience__text {
                font-size: 16px;
            }
        }
    }
    .faq {
        .faq__title {
            flex-direction: column;
        }
    }
    .course-content {
        .course-content__wrapper {
            &::after {
                content: "";
                background: url(img/course-hand.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 122px;
                top: 0;
                transform: translate(0%, -20%);
                height: 184px;
            }
        }
    }
    .form-callback{
        .form-callback__content{
            h2{
                text-align: center;
            }
            padding: 20px;
            text-align: center;
        }
    }
    footer {
        padding-bottom: 50px;
        .footer__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .footer__elements--left {
            align-items: center;
            .license {
                display: none;
            }
            .footer__nav {
                gap: 15px;
                flex-direction: column;
            }
        }
        .footer__elements--right {
            .footer__btns {
                display: none;
            }
        }
    }
}
@media (max-width: 757px) {
    .container {
        max-width: 556px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .create {
        .create__wrapper {
            flex-direction: column;
            align-items: center;
        }
        .create__item {
            max-width: 50%;
        }
    }
    .target-audience {
        .target-audience__wrapper {
            .target-audience__item {
                img {
                    margin-top: -23%;
                }
            }
        }
    }
    .form-callback{
        .form-callback__content{
            h2{
                font-size: 32px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 580px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    h2 {
        font-size: 26px;
        line-height: unset;
    }
    .reviews{
        .reviews__wrapper{
            padding: 20px;
        }
    }
    header {
        .header__title {
            h1 {
                font-size: 30px;
                padding: 10px 20px;
            }
        }
        .btn-main{
            width: 100%;
        }
    }
    .benefits {
        .benefits__content {
            padding: 86px 20px 30px;
            span {
                font-size: 36px;
            }
        }
        .benefits__form {
            padding: 50px 20px;
            h2{
                font-size: 28px;
            }
        }
    }
    .create {
        .create__wrapper {
            flex-direction: column;
            align-items: center;
        }
        .create__item {
            max-width: 100%;
            height: 50%;
        }
    }
    .teacher {
        .teacher__wrapper {
            gap: 30px;
        }
        .teacher__teacher {
            img {
                width: 120px;
            }
            p {
                font-size: 24px;
            }
        }
        .teacher__content {
            padding: 30px 30px;
        }
    }
    .course-content{
        .course-dropdown__item.active{
            .course-dropdown__content{
                padding: 0;
            }
        }
        .course-dropdown{
            padding-right: 20px;
        }
    }
    .form-callback{
        .form-callback__form{
            padding: 30px 20px;
        }
    }
}
